*{
    margin:0;
    padding:0;
    text-align: center;
}
body{
    background:black;
    overflow: hidden;
}
.container{
  border: 1px solid white;
}
.card{
  justify-content: space-between;
}
.img1{
  width:400px;
  height:300px;
  display: block;
}
